input {
    file {
        path => "C:/ELK/zomato/zomato.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}

filter {
  csv {
    separator => ","
    columns => ["restaurant_id", "restaurant_name", "country_code", "city", "address", "locality", "locality_verbose", "longitude", "latitude", "cuisines", "average_cost_for_two", "currency", "has_online_delivery", "price_range", "rating", "rating_color", "rating_text", "votes"]
  }
  mutate{convert => ["restaurant_id", "integer"]}
  mutate{convert => ["logitute", "float"]}
  mutate{convert => ["latitude", "float"]}
  mutate{convert => ["average_cost_for_two", "integer"]}
  mutate{convert => ["price_range", "integer"]}
  mutate{convert => ["rating", "float"]}
  mutate{convert => ["votes", "integer"]}
}

output {
  elasticsearch {
    hosts => "localhost:9200"
    index => "zomato"
    document_type => "zommato_data"
  }
  stdout {}
}